@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
html{
    color-scheme: dark;
    background: linear-gradient(#000000 10%, #502F4C 75%) no-repeat;
}
body{
    color: #F9F4F5;
}
#navbutton{
    background-color: transparent;
    border: none;
    font-family: "Rationale", serif;
    font-size: 50px;
    border-left: #F9F4F5 solid 5px;
    border-right: #F9F4F5 solid 5px;
}
#navbutton:nth-child(1){
    border-left: none;
}
#navbutton:nth-last-child(1){
    border-right: none;
}
#navbutton:hover{
    background-color: #502F4C;
    opacity: .5;
}
#navigation{
    background-color: #000000;
}